## --- Environment variable --- ##
ENV=LOCAL
DEBUG=false
# TZ=UTC
# PYTHONDONTWRITEBYTECODE=1


## -- API configs -- ##
FLR_CHALLENGE_API_PORT=10001
# FLR_CHALLENGE_API_CONFIGS_DIR="/etc/flowradar-challenge"
# FLR_CHALLENGE_API_LOGS_DIR="/var/log/flowradar-challenge"
# FLR_CHALLENGE_API_DATA_DIR="/var/lib/flowradar-challenge"
# FLR_CHALLENGE_API_TMP_DIR="/tmp/flowradar-challenge"
# FLR_CHALLENGE_API_VERSION="1"
# FLR_CHALLENGE_API_PREFIX=""
# FLR_CHALLENGE_API_DOCS_ENABLED=true
# FLR_CHALLENGE_API_DOCS_OPENAPI_URL="{api_prefix}/openapi.json"
# FLR_CHALLENGE_API_DOCS_DOCS_URL="{api_prefix}/docs"
# FLR_CHALLENGE_API_DOCS_REDOC_URL="{api_prefix}/redoc"
FLR_CHALLENGE_API_KEY="your_api_key_here"
